<ion-pane ng-controller="CardsCtrl" >
  <ion-header-bar class="bar-calm">
    <h1 class="title">Tinder for X</h1>
  </ion-header-bar>
  <td-cards>
    <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
          on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
          on-partial-swipe="cardPartialSwipe(amt)">

              <div class="image">
                <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Yes</div></div>
                  <div class="no-text overlayBox"><div class="noBox boxed">No</div></div>
                  <img ng-src="{{card.user.picture.medium}}">

              </div>
              <div class="buttondesc">
                <div class="username"><i class="icon ion-android-contact"></i> {{card.user.username}}</div>
                <button ng-click="yesCard()" class="button button-balanced">Yes</button><button ng-click="noCard()" class="button button-assertive">No</button></div>
    </td-card>
  </td-cards>
</ion-pane>
